<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>skills</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row *ngIf="skills && skills.length > 0">
      <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="3" *ngFor="let skill of skills">
        <ion-card>
          <ion-card-header color="secondary">
            <ion-card-title>{{ skill.category }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list *ngIf="skill.skills && skill.skills.length > 0">
              <ion-item *ngFor="let s of skill.skills">
                <ion-label>{{ s }}</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>